<h1>所有的書單</h1>
<%= will_paginate %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        List Name
      </th>
      <th>
        Description
      </th>
      <th>
        Created By
      </th>
    </tr>
  </thead>
  <tbody>
   <%= render 'list', obj:@lists %> 
   <!--render _list.html.erb  rails magic -->
 </tbody>
</table>
<%= will_paginate %>