<h1><%= @list.name %> by <%= @list.user.nick_name %></h1>
<%= render 'add_article_form' %>

<% if @list.articles.any? %>
  <p> Lists: <%= render 'articles/article', obj:@list.articles %> </p>
<% end %>