<!--如果未登入就做成臨時的list，可以馬上登入以存入此list -->
<!-- 專門用來產生result的partial-->
<!-- render from '_search_books.html.erb' -->

<div id="item-result" >
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          搜尋結果
        </th>
        <th>
          
        </th>
        <th>

        </th>
        <th>
          
        </th>
      </tr>
    </thead>
    <tbody>
      <% @book_items[0].count.times do |books| %>
        <tr>
          <td>
            <%= "#{books+1}" %>

          </td>
          <td>
            <%= image_tag @book_items[2][books], id:"image_select", alt: "book-image", class: "img-thumbnail" %>
          </td>
          <td>
           <%= link_to @book_items[0][books], @book_items[1][books],:target => "_blank"%>
          </td>    
          <td>
         
            <%= link_to "加入書單", article_lists_path(list_id: @list.id, item_name: @book_items[0][books], item_link: @boook_items[1][books], item_image: @book_items[2][books]), class: 'btn btn-xs btn-success', method: :post %>
            
          </td>
        </tr>
      <% end %>
   
   </tbody>
  <table>
</div>
<h3><%#= link_to "取消選取並回到清單畫面", "#{request.referrer}" %></h3> 
<!-- 回到上一頁 -->