
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        
      </th>
      <th>
        
      </th>
    </tr>
  </thead>
  <tbody>
   <% @book_names.count.times do |books| %>
    <tr>
      <td>
        <%= "#{books+1}" %>
      </td>
      <td>
        <%= image_tag @book_images[books], id:"image_select", alt: "book-image", class: "img-thumbnail img-fluid " %>
      </td>
      <td>
       <%= link_to @book_names[books], @book_links[books],:target => "_blank"%>
      </td>    
    </tr>
  <% end %>
 </tbody>
</table>

