
<table class="table table-hover">
    <thead>
      <tr>
        <th>
          清單項目
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
      </tr>
    </thead>
    <% if obj %>
    <tbody>

      <% obj.each do |books|%>
      <%# @book_items[0].count.times do |books| %>
        <tr>
          <td>
            <%#= "#{books+1}" %>

          </td>
          <td>
            <%= image_tag books.image, id:"image_select", alt: "book-image", class: "img-thumbnail" if books.image%> 
          </td>
          <td>
            <%= link_to books.title, books.link,:target => "_blank"%> 
          </td>    
          <td>
            <%  if current_user and current_user.id == @list.user.id  %>
              <%= link_to "刪除", article_list_path(:article_id => books.id,:list_id => @list.id), method: :delete, data: {confirm: "確定刪除嗎? "}, class: 'btn btn-xs btn-danger' %>
            <% end %>       
          </td>
        </tr>
      <% end %>
    </tbody>
    <% end %>
  <table>