<h1><%= @user.nick_name %></h1>
<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        List Name
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
   <%= render 'lists/list', obj:@user.lists %> 
   <!--render _list.html.erb  rails magic -->
 </tbody>
</table>
