<h1>安安，歡迎使用本站建立博客來商品清單</h1>

<%= simple_format("歡迎使用這個不知道算不算實用的網站
如果你不知道這裡是在幹嘛的話，簡單說這就是個讓你建立並儲存博客來(www.books.com)上面的商品，通常是書
你要存畫妝品什麼的我也不反對啦，反正就是博客來上面找得到的東西就是了。
反正呢，第一次來的就先去註冊個帳號啦
登入後，就可以建立清單啦
在清單中有搜尋框可以輸入你想找的東西，按下搜尋後就會跑出結果啦~
對了現在只會抓到搜尋的前20項(其實就是只有第一頁的結果啦)
所以使用這個搜尋功能的前提是你已經確定你要找什麼物品

找到之後就可以把東西加到清單啦~

為什麼要建立清單呢?
因為博客來網站本身不給你分享清單，所以有時候要推別人坑非常麻煩啊
所以就在這邊建立清單吧~
建立好的清單再分享給別人  你問怎麼分享? 喔就複製清單的頁面連結啊
如果你覺得難用的話，好啦這只是半成品，不要太在意啦 我還會再改功能的") %>
